<div class="flex-container">
    <div *ngFor="let p of Products; index as i">
      <div class="card">
        <img class="card-img-top" [src]="p.ProductPath" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{p.Name | titlecase}}</h5>
          <p class="card-text">{{p.Price | currency}}</p>
          <button class="btn btn-primary" (click)="addToCart(i)">{{p.count > 0 ? p.count + ' Added to Cart' : 'Add to Cart'}}</button>
        </div>
      </div>
    </div>
</div>
