.flex-container {
  display: flex;
  /*justify-content: space-around;*/
  flex-flow: wrap;

}

.flex-container > div {
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
